<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.HackathonAndroid"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"></uses-permission>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"></uses-permission>

    <permission android:name="com.example.gcm.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application android:label="@string/app_name"
                 android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                 android:uiOptions="splitActionBarWhenNarrow"
                android:icon="@drawable/logo_small">
        <activity android:name="com.Swarm.TestActivity">
            <meta-data android:name="android.support.UI_OPTIONS"
                       android:value="splitActionBarWhenNarrow" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
      <activity android:name="com.Swarm.TitleActivity" android:screenOrientation="portrait">
        <intent-filter>
          <action android:name="android.intent.action.MAIN"/>
          <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
      </activity>
      <activity android:name="com.Swarm.LoginActivity" android:screenOrientation="portrait">
          <intent-filter>
              <action android:name="android.intent.action.MAIN"/>
              <category android:name="android.intent.category.LAUNCHER"/>
          </intent-filter>
      </activity>
      <activity android:name="com.Swarm.ListEventsActivity" />
      <activity android:name="com.Swarm.EventDetailsActivity"/>
      <activity android:name="com.Swarm.CreateEventActivity">
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Swarm.TitleActivity" />
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
      </activity>
        <activity android:name="com.Swarm.ProfileActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.Swarm.TitleActivity" />
        </activity>


        <!--
          <receiver
                  android:name=".GcmBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND" >
              <intent-filter>
                  <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                  <category android:name="com.example.gcm" />
              </intent-filter>
          </receiver>
          <service android:name=".GcmIntentService" />
          -->
    </application>

</manifest> 
